html {
	font-family: "Comic Sans MS";

	body {
		width: 100vw;
		height: 100%;
		min-height: 100vh;
		padding: 0;
		background-image: linear-gradient(hotpink, lime);
		canvas {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
	
		div {
			z-index: 100;
			h1 {
				vertical-align: middle;
				text-align: center;
				font-style: italic;
				padding: 2rem 0;
				margin: 0;
			}

			div.board {
				z-index: 100;
				margin-bottom: 2rem;
				display: flex;
				justify-content: center;
				table {
					z-index: 100;

					background-color: black;
					tr {
						td {
							z-index: 100;

							height: 8rem;
							width: 8rem;
							max-height: 14vw;
							max-width: 14vw;
							background-color: white;
							text-align: center;
							&:hover {
								cursor: default;
							}
							&.highlighted {
								background-color: #BB0000;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 2000px) {
	@media (min-height: 1400px) {
		html {
			font-size: 1.5rem;
	
		}
	}
	
}

@media (max-width: 1000px) {
		html {
			font-size: 0.75rem;
		}
}

@media (max-width: 750px) {
	html {
		font-size: 0.5rem;
	}
}

